$bbva_blue_01: #072146;
$bbva_blue_02: #002f67;
$bbva_blue_03: #043263;
$bbva_white_01: #043263;

@font-face{font-family:BentonSansBBVA-Bold;src:url(./fonts/BentonSansBBVA-Bold.woff2) format("woff2"),url(./fonts/BentonSansBBVA-Bold.woff) format("woff");font-display:swap}
@font-face{font-family:BentonSansBBVA-Book;src:url(./fonts/BentonSansBBVA-Book.woff2) format("woff2"),url(./fonts/BentonSansBBVA-Book.woff) format("woff");font-display:swap}
@font-face{font-family:BentonSansBBVA-BookItalic;src:url(./fonts/BentonSansBBVA-BookItalic.woff2) format("woff2"),url(./fonts/BentonSansBBVA-BookItalic.woff) format("woff");font-display:swap}
@font-face{font-family:BentonSansBBVA-Light;src:url(./fonts/BentonSansBBVA-Light.woff2) format("woff2"),url(./fonts/BentonSansBBVA-Light.woff) format("woff");font-display:swap}
@font-face{font-family:BentonSansBBVA-Medium;src:url(./fonts/BentonSansBBVA-Medium.woff2) format("woff2"),url(./fonts/BentonSansBBVA-Medium.woff) format("woff");font-display:swap}
@font-face{font-family:BentonSansBBVA-MediumItalic;src:url(./fonts/BentonSansBBVA-MediumItalic.woff2) format("woff2"),url(./fonts/BentonSansBBVA-MediumItalic.woff) format("woff");font-display:swap}
@font-face{font-family:TiemposText-Regular;src:url(./fonts/TiemposText-Regular.woff2) format("woff2"),url(./fonts/TiemposText-Regular.woff) format("woff");font-display:swap}
@font-face{font-family:TiemposText-RegularItalic;src:url(./fonts/TiemposText-RegularItalic.woff2) format("woff2"),url(./fonts/TiemposText-RegularItalic.woff) format("woff");font-display:swap}